::selection{
	background:#000;
	color:#fff;
	text-shadow: none;
	}

::-moz-selection{
	background:#000;
	color:#fff;
	text-shadow: none;
	}	
	
::-webkit-scrollbar {
	height: 10px;
	width: 8px;
	background-color: #0E0E0E;
	}  

::-webkit-scrollbar-thumb:vertical {
	background-color: #eee;
	height: 50px;
	}	
	
body{
	background-color:#fff;
	margin:0 0 0px 0;
	min-width: 700px;
	position:relative;
	-webkit-font-smoothing:antialiased;
	-webkit-font-kerning: normal;
    -moz-osx-font-smoothing: grayscale;
    font-family: "brandon-grotesque", "proxima-nova", Helvetica Neue, Helvetica, Arial, sans-serif;
	}
	   
#loading{
    display:block;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    min-width: 700px;
    text-align:center;
    z-index:5000;
	font-size: 15px;
    color:#fff;
    background-color:#000;
    text-transform: uppercase;
    }     
.spinner{
    position:absolute;
	top:50%;
	left:50%;
	margin-top:-15px;
	margin-left:-15px;
	color:#fff;
	width:30px;
	height:30px;
	text-align:center;
    }    
#content{
	position: relative;
    }	
  
#brochure{
	position: relative;
	margin-left:auto;
	margin-right: auto;
	z-index:5;
	text-align: center;
	max-width: 90%;
	}	
#container-loc{
	border:30px solid #fff;
	position: relative;
	box-shadow: 0 0 5px #000;
	margin:0 auto;
	display: inline-block;
	padding:20px 30px;
}

#map{
	width:100%;
	min-width: 700px;
	height:700px;
	position: absolute;
	top:0;
	left:0;
	z-index: 0;
	background-color: #232323;
	border-bottom:5px solid #eee;
	}	
#map:before {
	 -moz-box-shadow: inset 0 0 150px rgba(0,0,0,0.5);  
	 -webkit-box-shadow: inset 0 0 150px rgba(0,0,0,0.5);   
	 box-shadow: inset 0 0 150px rgba(0,0,0,0.5);
	 position: absolute;
	 top: 0;
	 left: 0;
	 width: 100%;
	 height: 100%;
	 z-index: 2;
	 content: "";
	 background-color: rgba(0,0,0,0.4);
	 }	
.leaflet-control-container{display:none;}
			
#location{
	font-family: "telefon-web", Futura, Times New Roman, Times, Georgia, serif;
	letter-spacing: -2px;
	font-size: 200px;
	text-align: center;
	text-shadow: 0px 2px 0px #000;
	color:#fff;
	text-transform: uppercase;
	font-weight: bold;
	line-height:0.9;
	position: relative;
	width:intrinsic;
	}	
	
#coords i{margin-right:7px;}
#coords{
	color:#fff;
	position: absolute;
	right:-15px;
	bottom:-70px;
	font-size:20px;
	font-weight: 800;
	letter-spacing: normal;
	font-family: "proxima-nova", Helvetica Neue, Helvetica, Arial, sans-serif;
	text-shadow: 0px 0px 2px #000;
	}	

#starthere{
    color:#fff;
    font-size:30px;
    border-radius: 10px;
    position: absolute;
    width:100px;
    top:-150px;
    left:0;
    right:0;
    padding:20px;
    margin-left:auto;
	margin-right:auto;
	z-index:2000;
	cursor: pointer;
	display: none;
	}
@media (max-height: 800px) {
		#starthere{top:-100px;}
	}	
.icon-pulse {
	display: inline-block;
	-moz-animation: pulse 2s infinite ease;
	-o-animation: pulse 2s infinite ease;
	-webkit-animation: pulse 2s infinite ease;
	animation: pulse 2s infinite ease;}
@-webkit-keyframes pulse {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; } }
@-moz-keyframes pulse {
  0% { opacity: 1; }
  50% { opacity: 0.5; }
  100% { opacity: 1; } }
@-o-keyframes pulse {
  0% { opacity: 1; }
  50% { opacity: 0.5; }
  100% { opacity: 1; } }
@-ms-keyframes pulse {
  0% { opacity: 1; }
  50% { opacity: 0.5; }
  100% { opacity: 1; } }
@keyframes pulse {
  0% { opacity: 1; }
  50% { opacity: 0.5; }
  100% { opacity: 1; } }

#backtotop{
	position: fixed;
	left:10px;
	top:10px;
	padding:10px;
	font-size: 16px;
	color:#aaa;
	z-index: 2014;
	cursor: pointer;
	display: none;
	}
#backtotop:hover{
	color:#606060;
	}
		
#meta{
	color:#aaa;
	position: absolute;
	right: -162px;
	top: 80px;
	text-align: left;
	line-height: 1;
	font-family: "proxima-nova", Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size:14px;
	font-weight:600;
	width:140px;
	border-collapse: collapse;
	display: none;
	}
td.meta-icon{
	text-align: center;
	border-right: 1px solid #ddd;
	}	
td.meta-info{
	padding-left:8px;
	}
td.meta-icon, td.meta-info{
	padding-top:5px;
	padding-bottom: 5px;
	}
#meta i{
	color:#aaa;
	margin-right:4px;
	font-size: 1.2em;
	vertical-align: -0.1em;
	}
@media (max-width: 1579px) {
		#meta{opacity: 0;}
	}		

#photos{
	z-index:11;
	padding:20px;
	margin-top:20px;
	width:1200px;
	text-align: center;
	margin-left:auto;
	margin-right:auto;
	position: relative;
	background-color: #fff;
	border-radius:5px;
	}
@media (min-width: 100px) and (max-width: 1280px) {
	#photos{
		max-width:85%;   
		}           
	#photos img{
		width:100%;
		height: auto;
	}
}	
#photos img{
	background-color:#eee;
	}
#photos img+img {margin-top: 80px;}

.photo-id{
	background-color:rgba(255,255,255,0.7);
	border-radius: 5px;
	text-align: right;
	font-weight: 600;
	color:#ddd;
	font-family: "proxima-nova";
	}
img+.photo-id{
	margin-top:80px;
	}	
.private{
	color:#6fa8c9;
	}	

#fade{
	width:100%;
	border-top:5px solid #ddd;
	content:"";
	height:750px;
	position: absolute;
	left:0;
	background: #fff;
	background: -moz-linear-gradient(top,  #eeeeee 0%, #ffffff 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#ffffff));
	background: -webkit-linear-gradient(top,  #eeeeee 0%,#ffffff 100%);
	background: -o-linear-gradient(top,  #eeeeee 0%,#ffffff 100%);
	background: -ms-linear-gradient(top,  #eeeeee 0%,#ffffff 100%);
	background: linear-gradient(to bottom,  #eeeeee 0%,#ffffff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#ffffff',GradientType=0 );
	}
#fade-bottom{
	width:100%;
	content:"";
	height:750px;
	position: absolute;
	left:0;
	top:-755px;
	border-bottom:5px solid #ddd;
	background: #fff;
	background: -moz-linear-gradient(top,  #fff 0%, #eee 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff), color-stop(100%,#eee));
	background: -webkit-linear-gradient(top,  #fff 0%,#eee 100%);
	background: -o-linear-gradient(top,  #fff 0%,#eee 100%);
	background: -ms-linear-gradient(top,  #fff 0%,#eee 100%);
	background: linear-gradient(to bottom,  #fff 0%,#eee 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#eee',GradientType=0 );
	}
	
#map-bottom{
	position: absolute;
	bottom:0;
	left:0;
	width:100%;
	height:2000px;
	z-index: 0;
	}
			
#blackbox{
	width:100%;
	background-color:#232323;
	text-align: center;
	font-family:  "brandon-grotesque", Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 24px;
	font-weight: 700;
	text-shadow: none;
	-webkit-font-smoothing: antialiased;
	-webkit-font-kerning: normal;
	color:#fff;
	position:relative;
	z-index:5;
	background-color:rgba(0,0,0,0.4);
	text-shadow: 0px 2px 0px #000;
	text-transform: uppercase;
	margin-top:-50px;
	-moz-box-shadow: inset 0 0 150px rgba(0,0,0,0.5);  
	-webkit-box-shadow: inset 0 0 150px rgba(0,0,0,0.5);   
	box-shadow: inset 0 0 150px rgba(0,0,0,0.5);
	}  

#blackbox a{
	color:#fff;
	text-decoration: underline;
	}
	
#recommendations{
	 margin:30px auto;
	 max-width: 1100px;
	 line-height: 58px;
	 padding-bottom:50px;
	 }   
#recommendations a{
	 position: relative;
	 display: inline-block;
	 height:200px;
	 width:300px;
	 margin:0 10px;
	 }   
#recommendations img{
	 border:1px solid #101010;
	 box-shadow:0px 0px 0px 1px #404040;
	 -webkit-box-shadow:0px 0px 0px 1px #404040;
	 } 
#recommendations img:hover{
	 box-shadow:0px 0px 0px 1px #808080;
	 -webkit-box-shadow:0px 0px 0px 1px #999;
	 }	   
#recommendations a, #recommendations a:hover{
	 border:none;
	 text-decoration: none;
	 }
	
.rec-name{
	position: absolute;
	bottom:15px;
	padding:5px 9px;
	left:15px;
	max-width:220px;
	text-align: left;
	color:#fff;
	font-weight: 700;
	font-size: 27px;
	text-transform: uppercase;
	background-color:#101010;
	border-radius: 1px;
	transition:0.3s all;
	box-shadow:0px 0px 0px 1px #101010;
	border:2px solid #252525;
	line-height:1.1; 
	}

#newdestination{	
	 font-size:60px;
	 padding:200px 0 30px 0;
	 z-index:1;
	 }
#copyright{
	font-size: 24px;
	padding-bottom: 100px;
	font-weight:800;
	line-height: 1;
	}
#copyright a{
	border-bottom: 1px solid rgba(170,170,170,0);
	text-decoration: none;
	color:#aaa;
	transition:0.5s all;
	}
#copyright a:hover{
	border-bottom: 1px solid rgba(170,170,170,1);
	}
#acknowledgements{
	font-size:55%;
	font-weight: 500;
	color:#aaa;
	}