    	html { overflow-y: scroll; }

        body {padding: 0;margin: 50px 0;

            }

		img {
            background-color: none;
			border-width: 0px;
            }


        
        #photos {
        	width: 1235px;
			margin: 30px auto 30px auto;
			overflow-y: scrolling;position:relative;
			background-color:none;
        	}